@import url('https://fonts.googleapis.com/css2?family=Golos+Text&display=swap');

/* font-family: 'Golos Text', sans-serif; */
* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
    margin: 0;
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;

}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Golos Text', sans-serif;
}

::selection {
    background-color: #f2545f;
}

@media (background-color: #f2545f) {
    ::selection {
        background-color: #d4d4d4;
    }
}

.container-main-project {
    margin: 0 3rem;
}

a:hover {
    color: #f2545f;

}


@media (max-width: 425px) {
    .H3-in-Header {
        font-size: 1rem !important;
    }

    .Title-in-Header {
        font-size: 2rem !important;
    }
}